<main class="home">
<section id="header">
  <div class="container">
    <div id="header-content">
      <h1 class="text-uppercase">Designing an
      <div class="strong">Experience</div></h1>
      <h3>Creating beatiful user experiences in both print and digital platforms. </h3>
      <!-- <a class="btn hvr-grow" href="#about" role="button">Let's get nerdy! &nbsp <i class="fa fa-angle-down"></i></a> -->
    </div>
  </div>
</section>

<section id="categories">
<a id="about"></a>
  <div class="container">
    <div class="row text-center">
      <div class="col-md-3 col-sm-6 col-xs-12 category">
        <i class="fa fa-code icon-o"></i>
        <h2>Full Stack Development</h2>
        <p>We've got your back.
        <br>Front and back end development.</p>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 category">
        <i class="fa fa-sitemap icon-o"></i>
        <h2>User Interface</h2>
        <p>Seamless and easy to use interfaces.
        <br>Who reads the instructions anyways?</p>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 category">
        <i class="fa fa-mobile icon-o"></i>
        <h2>Responsive/Adaptive</h2>
        <p>Designs that fit every device.
        <br>It's okay to be different.</p>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 category">
        <i class="fa fa-info icon-o"></i>
        <h2>Information Design</h2>
        <p>From wayfinding to documentation.
        <br>We'll make your data sexy.</p>
      </div>
    </div>
  </div>
</section>

<section id="about">
  <div class="container">
    <div class="col-md-6 category">
      <h2 class="text-uppercase">Behind the Scenes</h2>
      <p>Form and function. The EM DUBB focus is on finding a harmonious balance between functionality and beauty. What drives the design is a desire to create an optimal experience. By using an explorative approach EM DUBB will work with you every step of the way and venture into new and creative territory.</p>
    </div>
    <div class="col-md-6 category">
      <h2 class="text-uppercase">Meet the Madness</h2>
      <p>Hey, there! My name’s Melissa and I am the creator behind EM DUBB. I’m a certified nerd and I speak geek. Geek, you ask? Yes, I am fluent in the world of interactive design and programming. I’ll build your design experience from the bottom up whether that means typing code, building branding, or designing user interactions. Let's build something together.</p>
    </div>
  </div>
</section>

<section class="break"></section>

 <section id="work">
<a name="work"></a>
  <div class="container">
    <div class="text-center filter-buttons">
      <button class="filter btn hvr-grow" ng-click="vm.setGroup(1)">Development</button>
      <button class="filter btn hvr-grow" ng-click="vm.setGroup(2)">Interactive</button>
      <button class="filter btn hvr-grow" ng-click="vm.setGroup(3)">Print</button>
      <button class="filter btn hvr-grow" ng-click="vm.setGroup(4)">All</button>
    </div>

    <div class="row" resize notifier="notifyServiceOnChange(params)">
      <div class="col-md-3 col-sm-6 animate-repeat" ng-repeat-start="item in vm.work | workFilter:vm.selectedGroup" ng-click="vm.showWork(item.id)">
        <div class="work-item hvr-grow">
          <div ng-init="itemsrc = item.thumbUrl" ng-mouseover="itemsrc = item.thumbUrlroll" ng-mouseout="itemsrc = item.thumbUrl">
            <img ng-src="{{itemsrc}}" class="image-responsive work-image" alt="Work item"/>
          </div>
          <h2 class="work-title text-uppercase text-center">{{item.title}}</h2>
        </div>
      </div>
      <div class="clearfix" ng-if="$index%4==3 || ($index%2==1 && windowWidth < 990)"></div>
      <div ng-repeat-end=""></div>
    </div>
  </div>
</section>

<section class="break"></section>

<section id="contact">
<a name="contact"></a>
  <div class="container">
    <div class="row">
      <div class="col-md-12 category text-center">
        <h2 class="text-transform">Say Hello!</h2>
        <p>Who doesn't love a friendly hello? Email me or say hi through social media with any questions, comments, concerns, haikus, jokes, etc. Talk to you soon!</p>
        <ul class="list-row">
          <a href="https://github.com/emdubb/" target="blank" class="hvr-grow" title="Follow on Github">
            <li class="circle-icons">
              <i class="fa fa-github"></i>
            </li>
          </a>
          <a href="https://www.behance.net/emdubb" target="blank" class="hvr-grow" title="Follow on Behance">
            <li class="circle-icons">
              <i class="fa fa-behance"></i>
            </li>
          </a>
          <a href="http://www.twitter.com/EMDUBBdesign" target="blank" class="hvr-grow" title="Follow on Twitter">
            <li class="circle-icons">
              <i class="fa fa-twitter"></i>
            </li>
          </a>
          <a href="http://www.instagram.com/EM.DUBB" target="blank" class="hvr-grow" title="Follow on Instagram">
            <li class="circle-icons">
              <i class="fa fa-instagram"></i>
            </li>
          </a>
          <a href="http://www.linkedin.com/in/emdubb" target="blank" class="hvr-grow" title="Follow on LinkedIn">
            <li class="circle-icons">
              <i class="fa fa-linkedin"></i>
            </li>
          </a>
        </ul>
        <a href="mailto:melissa@emdubb.co">melissa@emdubb.co</a>
      </div>
    </div>
  </div>
</section>
<!--
<section id="contact">
<a name="contact"></a>
  <div class="container">
    <div class="row">
      <div class="col-md-6 category">
        <h2 class="text-transform">Say Hello!</h2>
        <p>Who doesn't love a friendly hello? Email me or say hi through social media with any questions, comments, concerns, haikus, jokes, etc. Talk to you soon!</p>
        <ul class="list-row">
          <a href="https://github.com/emdubb/" target="blank" class="hvr-grow" title="Follow on Github">
            <li class="circle-icons">
              <i class="fa fa-github"></i>
            </li>
          </a>
          <a href="https://www.behance.net/emdubb" target="blank" class="hvr-grow" title="Follow on Behance">
            <li class="circle-icons">
              <i class="fa fa-behance"></i>
            </li>
          </a>
          <a href="http://www.twitter.com/EMDUBBdesign" target="blank" class="hvr-grow" title="Follow on Twitter">
            <li class="circle-icons">
              <i class="fa fa-twitter"></i>
            </li>
          </a>
          <a href="http://www.instagram.com/EM.DUBB" target="blank" class="hvr-grow" title="Follow on Instagram">
            <li class="circle-icons">
              <i class="fa fa-instagram"></i>
            </li>
          </a>
          <a href="http://www.linkedin.com/in/emdubb" target="blank" class="hvr-grow" title="Follow on LinkedIn">
            <li class="circle-icons">
              <i class="fa fa-linkedin"></i>
            </li>
          </a>
        </ul>
      </div>
      <div class="col-md-6 category">
        <form>
          <div class="form-group">
            <input type="text" class="form-control half-form" placeholder="Name" id="input-name">
          </div>
          <div class="form-group">
            <input type="email" class="form-control half-form" placeholder="Email" id="input-email">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Subject" id="input-subject">
          </div>
          <div class="form-group">
            <textarea class="form-control" id="input-message" rows="5" placeholder="Message"></textarea>
          </div>
          <button type="submit" class="btn btn-default text-uppercase hvr-grow">Send &nbsp <i class="fa fa-envelope-o"></i></button>
        </form>
      </div>
    </div>
  </div>
</section> -->

<footer class="footer">
  <div class="footer-bottom">
    <div class="container">
      <p class="pull-left">© 2016 EM DUBB. All rights reserved.</p>
    </div>
  </div>
</footer>
</main>
