<section id="header">
  <div class="container">
    <div id="header-content">
      <h1 class="text-uppercase">Designing an
      <div class="strong">Experience</div></h1>
      <h3>Creating beatiful user experiences in both print and digital platforms. </h3>
      <a class="btn" href="#" role="button">Let's get nerdy! &nbsp <i class="fa fa-angle-down"></i></a>
    </div>
  </div>
</section>

<section id="categories">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-3 col-sm-6 col-xs-12 category">
        <i class="fa fa-code icon-o"></i>
        <h2>Full Stack Development</h2>
        <p>I've got your back.
        <br>Front and back end development.</p>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 category">
        <i class="fa fa-sitemap icon-o"></i>
        <h2>User Interface</h2>
        <p>Seamless and easy to use interfaces.
        <br>Who reads the instructions anyways?</p>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 category">
        <i class="fa fa-mobile icon-o"></i>
        <h2>Responsive/Adaptive</h2>
        <p>Designs that fit every device.
        <br>It's okay to be different.</p>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 category">
        <i class="fa fa-info icon-o"></i>
        <h2>Information Design</h2>
        <p>From wayfinding to documentation.
        <br>I'll make your data sexy.</p>
      </div>
    </div>
  </div>
</section>

<section id="about">
  <div class="container">
    <div class="col-md-6 category">
      <h2 class="text-uppercase">Behind the Scenes</h2>
      <p>Form and function. The EM DUBB focus is on finding a harmonious balance between functionality and beauty. What drives the design is a desire to create an optimal experience. By using an explorative approach EM DUBB will work with you every step of the way and venture into new and creative territory.</p>
    </div>
    <div class="col-md-6 category">
      <h2 class="text-uppercase">Meet the Madness</h2>
      <p>Hey, there! My name’s Melissa and I am the designer behind EM DUBB. I’m a certified nerd and I speak geek. Geek, you ask? Yes, I am fluent in the world of interactive design and programming. I’ll build your design experience from the bottom up whether that means typing code, building branding, or designing user interactions. Let's build something together.</p>
    </div>
  </div>
</section>

<section class="break"></section>

<section id="work">
  <div class="container">
    <div class="text-center filter-buttons">
      <button class="filter btn">Development</button>
      <button class="filter btn">Interactive</button>
      <button class="filter btn">Print</button>
      <button class="filter btn">All</button>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6" ng-repeat="item in vm.work">
        <div class="work-item">
          <img src="{{item.thumbUrl}}" class="image-responsive" alt="Work item">
          <h2 class="work-title text-uppercase text-center">{{item.title}}</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="break"></section>

<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-6 category">
        <h2 class="text-transform">Say Hello!</h2>
        <p>Who doesn't love a friendly hello? Email me or say hi through social media with any questions, comments, concerns, haikus, jokes, etc. Talk to you soon!</p>
        <ul class="list-row">
          <li class="circle-icons">
            <a href="http://www.twitter.com/EMDUBBdesign" target="blank" title="Follow on Twitter">
            <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li class="circle-icons">
            <a href="http://www.instagram.com/EM.DUBB" target="blank" title="Follow on Twitter">
            <i class="fa fa-instagram"></i>
            </a>
          </li>
          <li class="circle-icons">
            <a href="http://www.linkedin.com/in/emdubb" target="blank" title="Follow on Twitter">
            <i class="fa fa-linkedin"></i>
            </a>
          </li>
          <li class="circle-icons">
            <a href="http://www.pinterest.com/melissawilcox50/" target="blank" title="Follow on Twitter">
            <i class="fa fa-pinterest"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-6 category">
        <form>
          <div class="form-group">
            <input type="text" class="form-control half-form" placeholder="Name" id="input-name">
          </div>
          <div class="form-group">
            <input type="email" class="form-control half-form" placeholder="Email" id="input-email">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Subject" id="input-subject">
          </div>
          <div class="form-group">
            <textarea class="form-control" id="input-message" rows="5" placeholder="Message"></textarea>
          </div>
          <button type="submit" class="btn btn-default text-uppercase">Send &nbsp <i class="fa fa-envelope-o"></i></button>
        </form>
      </div>
    </div>
  </div>
</section>
